<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Icon Id="HShifter.ico" SourceFile="Icons\HShifter.ico" />
		<Icon Id="Handbrake.ico" SourceFile="Icons\Handbrake.ico" />
		<ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
			<File Source="H-Shifter.exe">
				<Shortcut Name="Bonus FFB H-Shifter" Directory="DesktopFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="HShifter.ico" />

				<Shortcut Name="Bonus FFB H-Shifter" Directory="ProgramMenuFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="HShifter.ico" />
			</File>
			<!-- Not releasing Handbrake for now
			<File Source="Handbrake.exe">
				<Shortcut Name="Bonus FFB Handbrake" Directory="DesktopFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="Handbrake.ico" />

				<Shortcut Name="Bonus FFB Handbrake" Directory="ProgramMenuFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="Handbrake.ico" />
			</File>
			--> 
		</ComponentGroup>
	</Fragment>
</Wix>
