<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Icon Id="BonusFFB.ico" SourceFile="Icons\BonusFFB.ico" />
		<ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
			<File Source="BonusFFB.exe">
				<Shortcut Name="Bonus FFB" Directory="DesktopFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="BonusFFB.ico" />

				<Shortcut Name="Bonus FFB" Directory="ProgramMenuFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="BonusFFB.ico" />
			</File>
			<!-- Not releasing Handbrake for now
			<File Source="Handbrake.exe">
				<Shortcut Name="Bonus FFB Handbrake" Directory="DesktopFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="Handbrake.ico" />

				<Shortcut Name="Bonus FFB Handbrake" Directory="ProgramMenuFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="Handbrake.ico" />
			</File>
			--> 
		</ComponentGroup>
	</Fragment>
</Wix>
